<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.5/phpunit.xsd"
         bootstrap="./phpunit_bs.php"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>./tests/functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/exceptions/</directory>
                <directory suffix="Interface.php">src/*</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
