<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
    <Header>
        <RequestHeader xmlns="https://ddp.googleapis.com/api/ddp/provider/v201809">
            <clientCustomerId>{{ clientCustomerId }}</clientCustomerId>
        </RequestHeader>
    </Header>
    <Body>
        <get xmlns="https://ddp.googleapis.com/api/ddp/provider/v201809">
            <serviceSelector>
                <fields>Id</fields>
                <fields>Name</fields>
                <fields>Description</fields>
                <fields>Status</fields>
                <fields>Size</fields>
                <fields>IntegrationCode</fields>
                <fields>AccountUserListStatus</fields>
                <fields>MembershipLifeSpan</fields>
                <fields>AccessReason</fields>
                <fields>IsEligibleForSearch</fields>
                {%  if id is not empty %}
                <predicates>
                    <field>Id</field>
                    <operator>EQUALS</operator>
                    <values>{{ id }}</values>
                </predicates>
                {% endif %}
            </serviceSelector>
        </get>
    </Body>
</Envelope>
